<ion-view view-title="City Selected Detail">

  <div class="header">

  </div>

  <div class="nav blLtrs">
    <div class="centerNavTitle ">
     <h2>Zagreb</h2>
     <p class="date">četvrtak, 4. veljače 2016.</p>
   </div>
   <button class="button button-icon button-clear ion-navicon myCustomParams" ng-click="showMenu()">
   </button>
   <!--  <img src="IMG/Hamburger meni Copy@1x.png" class="menu"/>-->
  </div>


<div class="section-detaljno">
      <div class="detaljno">
          <div class="left-detaljno">
              <h2>MJERENJE</h2>
              <p>4. veljače</p>
              <img src="IMG/umjerena@3x.png" />
              <div class="pelud">
                  <p>	Prevladava pelud:</p>
                  <a href="#">JOHA <span style="color:#FF0000;">&gt</span></a> <br/>
                  <a href="#">PITOMI KESTEN <span style="color:#FF0000;">&gt</span></a> <br/>
                  <a href="#">ČEMPRESI <span style="color:#FF0000;">&gt</span></a> <br/>
              </div>
          </div>
          <div class="right">
              <div class="photo-detaljno">
                  <img src="IMG/drvece@1x.png"/>
              </div>
              <div class="green">
                  <h2>Drveće</h2>
              </div>
          </div>

      </div>
      <hr/>
      <div class="detaljno">
          <div class="first">
              <h2>PROGNOZA <br/>
              5. veljače </h2>
              <img src="IMG/niska@1x.png"/>
              <div class="prognoza">
                  <img src="IMG/sun@1x.png"/>
                  <p>13°C <br/>
                  3°C <br/>
                  Kišovito <br/>
                  ESE 4 k/h</p>
              </div>
          </div>
          <div class="second">
              <h2>PROGNOZA <br/>
              6. veljače </h2>
              <img src="IMG/visoka@1x.png"/>
              <div class="prognoza">
                  <img src="IMG/rain@1x.png"/>
                  <p>13°C <br/>
                  3°C <br/>
                  Kišovito <br/>
                  ESE 4 k/h</p>
              </div>
          </div>
      </div>
  </div>
  <footer>
  <div class="logo">
    <img src="IMG/PLIVA logo@1x.png" />
  </div>
  <div class="link2">
    <a href="#">www.PLIVAzdravlje.hr</a>
  </div>
  </footer>

  </ion-view>
