<ion-view view-title="Home">
  <ion-content scroll="false">
  <div class="container-home home-body">
     <div class="header-home"></div>
     <div class="main">
        <h1>PELUDNA
           PROGNOZA
        </h1>
        <p class="home">Peludna prognoza prema razini peludi u zraku i vremenskoj prognozi donosi korisne bioprognostičke podatke koji omogućuju alergičnim osobama planiranje dnevnih aktivnosti i odgovarajuće preventivne postupke.</p>
        <a href="#/chooseCity" class="home-button">POKRENI</a>
     </div>
     <footer class="home-footer">
        <img src="img/PLIVA-logo-bijeli@1x.png"/>
        <a href="#">www.PLIVAzdravlje.hr</a>
        <p>Sva prava pridržana ©2016. </p>
     </footer>
  </div>
</ion-content >
</ion-view>
