@charset "UTF-8";
/* CSS Document */

html, body {
	width:100%;
	height:100%;
	font-family: -apple-system, "apple-system", "Helvetica-Neue", "Lucida Grande";
	color:#474747;
	margin:0;
	}
p, h2 {
	margin:0;
	}
h2 {
	font-size: 15px;
    font-weight: 500;
	}
a {
	color:#474747;
	font-size:12px;
	text-decoration:none;
	font-family:"Helvetica-Neue", "apple-system";
	}
.header img  {
    width: 90%;
    display: block;
    padding: 20px;
    margin: 0 auto;

	}

.container {
	width:100%;
	min-height:100%;
	position:relative;
	}
.section {
	font-size: 15px;
	line-height: 17px;
	width: 90%;
	height: 162px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin-bottom: 10px !important;
	margin: 0 auto;
	position: relative;
	}
.section-detaljno {
	font-size:15px;
	line-height:18px;
	width:90%;
	height:437px;
	border-style:solid;
	border-width: 1px;
	border-radius:5px;
	margin-bottom:15px !important;
	margin:0 auto;
	position:relative;
	}
.left {
	width:40%;
	float:left;
	margin-left:18px;
	margin-top:15px;
	}
.left-detaljno {
	width:40%;
	float:left;
	margin-left:18px;
	margin-top:15px;
	}
.left-rezultati {
	width: 50%;
	float: left;
	margin-left: 18px;
	margin-top: 20px;
	}
.link {
	margin-top:25px
	}
.link p {
	font-size: 24px;
	}
.right {
	width:50%;
	float:right;
    position: absolute;
    right: 0;
	height:164px;
	}
.photo {
	position: absolute;
	right: 0;
	bottom: 10px;
	}
.photo img {
	margin-top: 10px;
	width: 100%;
	}
.photo-detaljno {
	position: absolute;
	right: 0;
	}
.photo-detaljno img {
	margin-top: 75px;
	width:100%;
	}
.left img {
	margin-top:12px;
	width: 106px;
	}
.left-detaljno img {
	margin-top:25px;
	width: 80%;
	}
.left-detaljno .arrow {
	margin-top:50px;
	width: auto;
	}
.left-rezultati img {
	margin-top: 12px;
	width: 40px
	}
.green {
	background-image: url(../img/Rectangle%2019@1x.png);
	width: 128px;
	height: 43px;
	line-height: 43px;
	position: relative;
	float: right;
	margin-top: 20px;
	text-align: right;
	padding-right: 25px;
	color: #FFFFFF;
	font-weight: bolder;
}
.green h2 {
	color:#FFFFFF;
	font-size:18px;
	font-weight: bold;
    letter-spacing: 1px;
	line-height: 43px;
	}
footer {
    height: 30px;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 40px;
	}

.logo img {
	width: 80px;
	margin-left: 39px;
	float:left;
	}
.link2 {
	margin-right: 39px;
    float: right;
    font-weight: 400;
	}
.section-detaljno hr {
	height: 1px;
	border:none;
	background-color:#979797;
	width:90%
	}
.detaljno {
	width:100%;
	height:215px;
	}
.first {
	width:50%;
	float:left;
	border-right-style: solid;
    border-width: 1px;
    border-color: #979797;
	margin-top:10px;
	}
.second {
	width:50%;
	float:right;
	position:absolute;
	right:0;
	margin-top:10px;
	}
.first h2, .second h2 {
	text-align:center;
	}
.prognoza {
	margin:0 auto;
	margin-top:15px;
	width:110px;
	}
.prognoza img {
	float:left;
	width: 45% !important;
	margin-top:0 !important;
	height:auto !important;
	}
.prognoza p {
	float: right;
    font-size: 12px;
    font-family: Helvetica;
    line-height: 15px;
	}

.first img, .second img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 15px;
	height: 46px;
}
.pelud {
	margin-top:15px;
	}

.pelud p {
	font-size: 12px;
	}
.left-rezultati h1{
	font-size:32px;
	margin:5px 0 7px 0;
	}
	.left-rezultati h1.umjerena{
	font-size:32px;
	margin:10px 0 7px 0;
	}
.left-rezultati h2{
	font-size:18px;
	}
.link-zagreb {
	margin-top: 10px;
	position: absolute;
	bottom: 5px
	}
.visoka {
	color:#FF0000;
	}
.umjerena {
	color:#E2D536;
	}
.niska {
	color:#00A659;
	}
.home-body {
	background-image:url(../img/background@1x.png);
    background-size: 100%;
	background-repeat:no-repeat;
	overflow:hidden;
	}
.container-home {
	width:100%;
	height:100%;
	}

.header-home img {
    margin: 0 auto;
    display: block;
    width: 100%;
	}
.main {
	width: 68%;
	margin: 0 auto;
	margin-top: 90px;
	}
	.main2 {
	width: 68%;
	margin: 0 auto;
	position: relative;
	/*top: 127px;*/

	}
.odaberi {
	display: block;
    margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	}
.main h1 {
	font-size: 32px;
	color:#FFFFFF;
	text-align:center;
	font-weight: 200;
    letter-spacing: 9px;
	line-height:37px;
	padding-bottom: 15px;
	}
.nav {
	margin-top:40px;
	}
.nav h2 {
	font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
	}
.nav .date {
	color: #fff;
    font-size: 12px;
    text-align: center;
	}
.nav .menu {
	float: right;
	margin-right: 20px;
	margin-top: -35px;
	width: 20px;
	}
.home {
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	font-weight: 300;
	margin-bottom: 40px;
}
.home-button {
   color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #FFFFFF;
	top: 40px;
	display: block;
	padding: 15px;
	font-size: 15px;
	letter-spacing: 8px;
	text-align: center;
	width: 250px;
	margin: 0 auto;
	}
.home-footer {
	height: 100px;
	width: 100%;
	position: absolute !important;
	bottom: 30px;
	}
.home-footer img {
	display: block;
    margin: 0 auto;
	width: 85px;
	}
.home-footer a {
	color: #FFFFFF;
	text-align: center;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 25px 0;
	}
.home-footer p {
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	}
.header h1 {
	font-size:24px;
	text-align: center;
	margin: 0;
    padding: 40px;
}
.alergene-green {
	background-image:url(../img/alergene@1x.png);
	height: 43px;
	position: absolute;
    z-index: 999;
	width: 100%;
}
.alergene-green2 {
	background-image:url(../img/alergene@1x.png);
	height: 43px;
	position: absolute;
    z-index: 999;
	width: 40%;
	right:0;
}
.alergene-green h2, .alergene-green2 h2 {
   	font-size: 18px;
	line-height: 43px;
	margin-left: 25px;
	color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}
.section-alergene {
	height: 185px;
	margin-bottom: 10px;
	position: relative;
}
.alergene-left {
    float: left;
    width: 70%;
}
.alergene-left img {
	margin-top: 0px;
	height: 185px;

}
.alergene-right {
   position: absolute;
   width:30%;
    bottom: 10px;
    right: 20px;
}
.alergene-link {
	display: block;
	width: 70px;
	height: 70px;
	border-style: solid;
	border-radius: 5px;
	border-color: #828282;
	border-width: 1px;
	right: 15px;
	position: absolute;
	bottom: 5px;
}
.alergene-right p {
    bottom: 5px;
	color: #828282;
    display: inline;
    text-align: left;
	font-size: 15px;


}
.alergene-link a {
	color: #828282;
	display: block;
	text-align: center;
	bottom: 15px;
	position: absolute;
}
.popis {
    width: 70%;
    margin: 0 auto;
	margin-bottom: 15px;
    margin-top: 40px;
    line-height: 32px;
	height: 220px;
}
.popis-right {
	float:right;
}
.popis-left {
	float:left;
}
.popis a {
	font-size: 18px;

}
.popis li {
	list-style:none;
}
.footer-ABC {
	position:absolute;
	bottom:0;
	width:100%;
	margin-top: 25px;
}
.slider {
	width:100%;

}
.slider img {
	width:100%
}
.content {
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
}
.content h3 {
	display:inline;
	font-size:15px;
}
.content p {
    line-height: 27px;
    padding-top: 15px;
    font-size: 15px;
}
.content-newsletter p {
    line-height: 27px;
    font-size: 15px;
}
.content-newsletter {
    width: 80%;
    margin: 0 auto;

}
.content-newsletter img{
    margin: 0 auto;
    margin-top: 25px;
    display: block;
	width:250px;
}
.email-input {
    border-style: solid;
	border-width:1px;
    border-radius: 5px;
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 15px;
    color: #C9C9C9;
    border-color: #5F5F5F;
    text-align: center;
}
.prijavise {
    font-size: 12px;
    text-align: center;
    width: 172px;
    height: 40px;
    border-radius: 5px;
	margin-top: 25px;
    color: #fff;
    border: none;
    background-color: #41750A;
	background-image: -webkit-linear-gradient(top, #88AE12, #41750A);
}
.prijava {
	width:250px;
	margin: 0 auto;
}
.footer-newsletter {
	height: 30px;
    width: 100%;
    position: absolute !important;
    bottom: 0;
	}
.odaberi-grad {
    background: none;
    border-style: solid;
    width: 250px;
    height: 50px;
    border-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-family: -apple-system, "apple-system", "Helvetica-Neue", "Lucida Grande";
    padding-left: 15px;
	background-image:url(../img/strelica-dropdown@1x.png);
    background-repeat: no-repeat;
    background-size: 9.5px 6px;
    background-position: right 20px center;
	margin-top: 50px;
    margin-bottom: 50px;
	letter-spacing: 1px;
	-webkit-appearance: none;
}
.menu {
	background-image:url(../img/background@1x.png);
	background-size: 375px 667px;

}
.vremPrognoza {
	width: 110px;
	margin:0 auto;
	margin-top: 10px;
    margin-bottom: 10px;
}
.vremPrognoza img {
	width:45px ;
}
.temperatura {
    display: inline;
    padding-left: 5px;
    font-size: 22px;
}

.sidemenu {
	color: #FFF;
    font-size: 24px;
    display: block;
    text-align: center;
	padding: 20px;
	font-family:"apple-system";
}
.sidemenuManji {
    font-size: 18px;
	display: block;
	color:#FFF;
	text-align: center;
	padding:17px;
	font-family:"apple-system";
}
.list {
	margin-top: 65px;
}
.menuFooter img {
    width: 110px;
    display: block;
    margin: 0 auto;
}
.menuFooter {
	width:100%;
	margin-top: 100px;
	}
.menuFooter p {
	font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 25px;
}


@media only screen and (min-width: 300px) and (max-width: 359px) and (min-height: 481px),
only screen and (min-device-width: 300px) and (max-device-width: 359px) and (min-device-height: 481px)
{



	.main {
	width: 80% !important;
    margin: 0 auto;
    margin-top: 50px;
	}
	/*.home-button {
    color: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #FFFFFF;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 30px;
    letter-spacing: 16.67px;
    text-align: center;
    width: 60%;
    display: block;
	}*/
	.home-footer {
	height: 80px;

	}
	.home {
    font-size: 18px !important;
	line-height: 22px;
	margin-bottom: 20px
	}
	.home-footer a {
    margin: 10px 0 10px 0;
	}

	.left-rezultati h2 {
    font-size: 15px;
	}
	.alergene-left img {
	margin-top: 15px;
	height: 155px;
	}
	.content {
    width: 85%;

	}
	.content h3 {
	display:inline;
	font-size:15px;
	}
	.content p {
    line-height: 27px;
    padding-top: 25px;
    font-size: 14px;
	}
	.footer-ABC {
	position:relative !important;
	bottom:0;
	width:100%;
	}
	.popis {
	margin-top: 20px;
	}
	.popis a {
	font-size: 15px;
	}
	.section-alergene {
	height: 160px;
	}

}
@media only screen and (min-width: 300px) and (max-width: 359px) and (max-height: 480px),
only screen and (min-device-width: 300px) and (max-device-width: 359px) and (max-device-height: 480px)
{
	.main {
	margin-top: 30px;
	width: 80%;
	}
	.home {
	font-size: 16px !important;
	line-height: 22px;
	margin-bottom: 30px	;
	}
	.home-button {
	padding: 10px;
	width:65%;
	}
	.home-footer {
	height: 80px;
	margin-top:30px;
	bottom: 10px;

	}
	.home-footer a {
	margin: 10px 0 10px 0;
	}
	.alergene-left img {
	margin-top: 15px;
	height: 155px;
	}
	.footer-ABC {
	position:relative !important;
	bottom:0;
	width:100%;
	}
	.popis {
	margin-top: 20px;
	}
	.popis a {
	font-size: 15px;
	}
	.section-alergene {
	height: 160px;
	}
}
@media only screen and (min-width: 360px) and (max-width: 374px),
only screen and (min-device-width: 360px) and (max-device-width: 374px)
{
	.main {
	width: 70% !important;
    margin: 0 auto;
    margin-top: 50px;
	}
	.home-footer {
	height: 180px;
	}
	.home {
    font-size: 30px !important;
    line-height: 45px;
	}
	.home-footer a {
    margin: 20px 0 20px 0;
	}

	.left-rezultati h2 {
    font-size: 15px;
}
.alergene-left img {
    margin-top: 25px;
    height: 165px;

}

footer {
position:relative !important;
    margin-top: 20px;
}


}
@media all and (min-width: 480px) and (orientation:landscape) {
   .home-footer {
	position:relative !important;
	}
	.footer-ABC {
position:relative !important;
	}
	footer {
position:relative !important;
	}
	.footer-newsletter {

    position: relative !important;
}
}

@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-black-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-black-webfont.ttf') format('truetype');
    font-weight: 900;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-bold-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-bold-webfont.ttf') format('truetype');
    font-weight: bold;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-heavy-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-heavy-webfont.ttf') format('truetype');
    font-weight: 800;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-light-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-light-webfont.ttf') format('truetype');
    font-weight: 300;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-medium-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-medium-webfont.ttf') format('truetype');
    font-weight: 500;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-regular-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-semibold-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-semibold-webfont.ttf') format('truetype');
    font-weight: 600;

}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-thin-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-thin-webfont.ttf') format('truetype');
    font-weight: 200;


}




@font-face {
    font-family: 'apple-system';
    src: url('../FONT/sfnsdisplay-ultralight-webfont.woff') format('woff'),
         url('../FONT/sfnsdisplay-ultralight-webfont.ttf') format('truetype');
    font-weight: 100;

}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('../FONT/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;

}

.ion-navicon:before {
	font-size: 33px;
	color: #fff;
}

.blLtrs .ion-navicon:before {
	color: #000;
}

.nav {
	position:relative;
}

.myCustomParams {
	position: absolute;
	right: 18px;
	top: 0;

}

.blLtrs * {
	color:#000 !important;
}

.scroll {
height:100%;
}

.mtWithCloud {
	top:95px;
}

.link {
    margin-top: 15px;
}

.link a {
	display: block;
    position: absolute;
    bottom: 10px;
}

.prognozaTekst {
   text-align: center;
   padding-bottom: 10px;
   color: #000;
}
